<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit189.haroo.dao.AttachedFileDao">

<!-- 
  <resultMap id="attachedFileMap" type="attachedFile">
    <id column="srpl_fno" property="no"/>
    <result column="srpl_fname" property="name"/>
    <result column="pno" property="postNo"/>

  </resultMap>

  <insert id="insert" parameterType="attachedFileMap" useGeneratedKeys="true" keyColumn="pno" keyProperty="no">
    insert into har_srpl_file (pno, srpl_fname)
    values (#{postNo}, #{content})
  </insert>
  -->
</mapper> 