<!-- 
 <?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit189.haroo.dao.LearningApplicationDao">
  
  <resultMap id="LearningApplicationMap" type="LearningApplication">
    <id column="lrn_appl_no" property="no"/>
    <result column="mno" property="membereNo"/>
     <result column="sess_no" property="schedules"/>
    <result column="appl_dttm" property="registeredDate"/>
    <result column="appl_size" property="applySize"/>
    
     <association property="memberNo" javaType="member">
      <id column="mno" property="no"/>
    </association>
    
    <collection property="schedules" ofType="LearningSchedule">
      <id column="sess_no" property="no"/>
       <result column="lno" property="no"/>
       <result column="date" property="LearningDate"/>
          <result column="stm" property="startTime"/>
          <result column="etm" property="endTime"/>
    </collection>
    
  </resultMap>

    
  <insert id="insert" parameterType="LearningApplication">
    insert into har_lrn_appl(sess_no,appl_size,appl_dttm) 
    values(#{no},#{applySize},#{registeredDate})
  </insert>
  
  <select id="findAll" resultMap="LearningApplicationMap">
    select
      l.no
      l.sess_no,
      l.appl_dttm,
      l.appl_size,
    from har_lrn_appl l
      inner join har_session s on l.sess_no=s.sess_no
      inner join har_member m on l.mno=m.mno
  </select>

<select id="findAllSchedules" resultMap="LearningScheduleMap">
      select
      l.no
      l.sess_no,
      l.appl_dttm,
      l.appl_size,
    from har_lrn_appl l
      inner join har_session s on l.sess_no=s.sess_no
      inner join har_member m on l.mno=m.mno
  </select>
  
  <select id="findByNo" resultMap="LearningApplicationMap" parameterType="int">
   select
      l.no
      l.sess_no,
      l.appl_dttm,
      l.appl_size,
    from har_lrn_appl l
      inner join har_session s on l.sess_no=s.sess_no
      inner join har_member m on l.mno=m.mno
    where no = #{value}
  </select>
  
  
  <delete id="delete" parameterType="int">
    delete from har_lrn_appl
    where no=#{value}
  </delete>
</mapper>


-->






